html, body {
	 position: fixed;
	 margin: 0;
	 padding: 0;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background: #fcfbf9;
	 color: #222;
	 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	 text-rendering: optimizeLegibility !important;
	 -webkit-font-smoothing: antialiased !important;
}
 #main-scrollbar {
	 position: fixed;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 opacity: 0;
	 filter: blur(5px);
	 background: #fcfbf9;
	 pointer-events: none;
	 transform: scale(1.01);
	 transition: filter cubic-bezier(0.28, 0, 0.18, 1) 1s, -webkit-filter cubic-bezier(0.28, 0, 0.18, 1) 1s, opacity cubic-bezier(0.28, 0, 0.18, 1) 1s, transform cubic-bezier(0.28, 0, 0.18, 1) 1s;
}
 .loaded #main-scrollbar {
	 pointer-events: all;
	 opacity: 1;
	 filter: blur(0);
	 transform: scale(1);
}
 #admin_bar_iframe {
	 display: none !important;
}
 ::selection {
	 color: white;
	 background: black;
}
 ::-moz-selection {
	 color: white;
	 background: black;
}
 #grid {
	 position: fixed;
	 top: 0;
	 left: 60px;
	 z-index: 10000000;
	 height: 100%;
	 width: calc(100% - 100px);
	 pointer-events: none;
	 mix-blend-mode: multiply;
}
 #grid div {
	 position: relative;
	 float: left;
	 top: 0;
	 background: paleGreen;
	 width: calc(10% - 20px);
	 height: 100%;
	 margin-right: 20px;
}
 #grid.hide {
	 display: none;
}
 #wrapper {
	 position: relative;
}
 #wrapper #header-spacer {
	 width: 100%;
	 height: 180px;
}
 #wrapper #header-spacer.small {
	 height: 120px;
}
 #wrapper.alert-shown #header-spacer {
	 height: 240px;
}
 #wrapper.alert-shown #header-spacer.small {
	 height: 120px;
}
 header.global {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 z-index: 10000;
}
 header.global nav.global {
	 position: relative;
	 padding: 0 60px 30px;
	 z-index: 100;
	 transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1);
}
 header.global nav.global ul.main {
	 position: relative;
	 margin-top: 60px;
}
 header.global nav.global ul.main li {
	 float: left;
	 margin-right: 30px;
}
 header.global nav.global ul.main li a {
	 line-height: 30px;
	 text-transform: uppercase;
	 text-decoration: none;
	 font-weight: 500;
	 font-size: 0.8rem;
	 letter-spacing: 0.075rem;
	 color: black;
	 display: inline-block;
	 transition: color 1s cubic-bezier(0.28, 0, 0.18, 1);
	 position: relative;
}
 header.global nav.global ul.main li a:after {
	 content: '';
	 position: absolute;
	 top: 100%;
	 height: 1px;
	 background: black;
	 width: 100%;
	 left: 50%;
	 transform: translateX(-50%) scaleX(0);
	 transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1), background 1s cubic-bezier(0.28, 0, 0.18, 1);
}
 header.global nav.global ul.main li a:hover {
	 opacity: 1;
}
 header.global nav.global ul.main li a:hover:after {
	 transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1) 0.2s;
	 transform: translateX(-50%) scaleX(1);
}
 header.global nav.global ul.main li.last {
	 margin-right: 20px;
}
 header.global nav.global ul.main.left {
	 float: left;
}
 header.global nav.global ul.main.left li {
	 margin-right: 24px;
}
 header.global nav.global ul.main.right {
	 float: right;
	 margin-left: 0;
}
 header.global nav.global #search {
	 margin-right: 20px;
}
 header.global nav.global #search .icon {
	 line-height: 30px;
	 cursor: pointer;
	 transition: color 1s cubic-bezier(0.28, 0, 0.18, 1);
}
 header.global nav.global #cart {
	 margin-right: 0px;
	 position: relative;
}
 header.global nav.global #cart span#count {
	 font-size: 0.8rem;
	 text-align: center;
	 line-height: 31.5789473684px;
	 display: block;
	 width: 30px;
	 height: 30px;
	 background: #eee;
	 border-radius: 100%;
}
 header.global nav.global #cart span#status {
	 position: absolute;
	 bottom: 0;
	 right: -5px;
	 width: 10px;
	 height: 10px;
	 background: #8ebe4c;
	 border-radius: 100%;
	 transition: transform 0.2s cubic-bezier(0.28, 0, 0.18, 1);
}
 header.global nav.global #cart span#status.hide {
	 transform: scale(0);
}
 header.global nav.global #cart .target {
	 position: absolute;
	 top: 0;
	 left: 0;
	 z-index: 100;
	 width: 100%;
	 height: 100%;
	 display: block;
	 transition: none;
}
 header.global nav.global #cart .target:after {
	 display: none;
}
 header.global nav.global #cart .target:hover {
	 opacity: 1;
}
 header.global .logo {
	 position: absolute;
	 left: 50%;
	 z-index: 100;
	 bottom: 45px;
	 transform: translateX(-50%);
	 color: black;
}
 header.global .logo svg {
	 height: 20px;
	 width: auto;
}
 header.global .logo svg .logo-fill {
	 fill: black;
	 transition: fill 1s cubic-bezier(0.28, 0, 0.18, 1);
}
 header.global .logo span {
	 position: absolute;
	 top: 100%;
	 left: 0;
	 width: 100%;
	 margin-top: 0.5rem;
	 text-align: center;
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 font-size: 0.66rem;
	 transition: color 1s cubic-bezier(0.28, 0, 0.18, 1);
}
 header.global #alert {
	 background: black;
	 color: white;
	 position: relative;
	 float: none;
	 width: 100%;
	 z-index: 1000;
	 max-height: 75px;
	 height: 75px;
	 overflow: hidden;
	 text-align: center;
}
 header.global #alert p {
	 padding: 30px 60px 30px 60px;
	 transition: opacity 0.3s cubic-bezier(0.28, 0, 0.18, 1);
}
 header.global #alert p span {
	 opacity: 0.8;
}
 header.global #alert .icon {
	 position: absolute;
	 top: 50%;
	 right: 60px;
	 transform: translateY(-50%);
	 cursor: pointer;
}
 header.global #alert strong {
	 font-weight: bold;
}
 header.global #alert a {
	 color: white;
}
 header.global #alert a:hover {
	 text-decoration: none;
}
 header.global #alert.closed {
	 display: none;
}
 header.global #alert.closed p {
	 opacity: 0;
}
 header.global .veil {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 max-height: 0px;
	 z-index: 1;
	 background: white;
	 transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1);
	 will-change: max-height, transform, box-shadow;
	 transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1), box-shadow 0.25s cubic-bezier(0.28, 0, 0.18, 1);
	 box-shadow: 0 0 20px rgba(0, 0, 0, 0);
}
 header.global.sticky nav.global {
	 transform: translateY(-30px);
}
 header.global.sticky .veil {
	 max-height: 120px;
	 transform: translateY(-30px);
	 box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
 header.global.sticky.invert .veil {
	 max-height: 120px;
	 background: white;
}
 header.global.sticky.invert nav.global ul.main li a {
	 color: black;
}
 header.global.sticky.invert nav.global #search .icon {
	 color: black;
}
 header.global.sticky.invert .logo svg .logo-fill {
	 fill: black;
}
 header.global.sticky.invert .logo span {
	 color: black;
}
 header.global .drop {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 z-index: 10;
	 background: #fcfbf9;
	 overflow: hidden;
	 transform: translateY(-100%);
	 transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1) 0.5s;
}
 header.global .drop .container {
	 background: #fcfbf9;
	 padding-bottom: 60px;
}
 header.global .drop .container.left {
	 float: left;
}
 header.global .drop .container.right {
	 float: right;
}
 header.global .drop .container.white {
	 background: #fcfbf9;
}
 header.global .drop .container.gray {
	 background: #f3f2f1;
}
 header.global .drop .container.first {
	 padding-left: 60px;
}
 header.global .drop .container.last {
	 padding-right: 60px;
}
 header.global .drop .container ul li a {
	 color: black;
	 text-transform: uppercase;
	 margin-bottom: 20px;
	 display: inline-block;
	 font-weight: bold;
	 text-transform: uppercase;
	 text-decoration: none;
	 letter-spacing: 0.1rem;
	 font-size: 0.8rem;
	 font-weight: 400;
}
 header.global .drop .container .menu-item-has-children {
	 float: left;
	 width: 50%;
}
 header.global .drop .container .menu-item-has-children li a {
	 opacity: 1;
	 transition: opacity 0.5s cubic-bezier(0.28, 0, 0.18, 1);
}
 header.global .drop .container .menu-item-has-children li a:hover {
	 opacity: 0.6;
}
 header.global .drop .container ul li ul a {
	 text-transform: none;
	 margin-bottom: 10px;
	 font-size: 1rem;
	 letter-spacing: 0;
	 font-weight: 200;
}
 header.global .drop#shop .container {
	 overflow: hidden;
}
 header.global .drop#shop .container.left {
	 width: calc(30% + 10px);
	 transform: translateX(-50%);
	 opacity: 0;
	 transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1), opacity 0.5s cubic-bezier(0.28, 0, 0.18, 1);
}
 header.global .drop#shop .container.left ul {
	 padding-top: 30px;
}
 header.global .drop#shop .container.left ul ul {
	 padding-top: 0;
}
 header.global .drop#shop .container.right {
	 width: calc(70% - 10px);
	 padding-left: 60px;
}
 header.global .drop#shop .container.right figure.card {
	 margin-top: 30px;
	 opacity: 0;
	 transform: translateY(30px);
	 transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1), opacity 0.5s cubic-bezier(0.28, 0, 0.18, 1);
}
 header.global .drop.shown {
	 transition: transform 0.6s cubic-bezier(0.28, 0, 0.18, 1);
	 transform: translateY(0%);
}
 header.global .drop.shown#shop .container.left {
	 transform: translateX(0%);
	 opacity: 1;
	 transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1) 0.5s, opacity 0.5s cubic-bezier(0.28, 0, 0.18, 1) 0.5s;
}
 header.global .drop.shown#shop .container.right figure.card {
	 opacity: 1;
	 transform: translateY(0);
	 transition: transform 0.5s cubic-bezier(0.28, 0, 0.18, 1) 0.5s, opacity 0.5s cubic-bezier(0.28, 0, 0.18, 1) 0.5s;
}
 header.global .drop#search-form {
	 z-index: 1000;
	 min-height: 33.33vh;
	 padding-bottom: 120px;
	 text-align: center;
}
 header.global .drop#search-form .icon-cancel {
	 position: absolute;
	 right: 110px;
	 transform: translateY(-55px);
	 cursor: pointer;
}
 header.global .drop#search-form form {
	 position: relative;
	 margin: 60px auto;
	 width: 66.66%;
	 font-size: 1rem;
}
 header.global .drop#search-form form input[type="text"] {
	 background: none;
	 border: none;
	 border-radius: 0;
	 border-bottom: 1px solid black;
	 font-size: 1rem;
	 line-height: 1.5;
	 font-family: sans-serif;
	 padding-left: 30px;
	 appearance: none;
	 width: 100%;
}
 header.global .drop#search-form form input[type=submit] {
	 display: none;
}
 header.global .drop#search-form form .icon {
	 position: absolute;
	 left: 0;
	 top: 50%;
	 cursor: pointer;
	 transform: translateY(-60%);
}
 header.global .drop#search-form aside {
	 font-size: 2.5rem;
}
 header.global .drop#search-form .label.title {
	 display: block;
	 width: 100%;
	 text-align: center;
	 margin-bottom: 20px;
}
 header.global .drop#search-form a {
	 text-decoration: none;
	 color: black;
	 font-family: sans-serif;
}
 header.global .drop#search-form a:hover {
	 text-decoration: underline;
}
 header.global #mobile-toggle {
	 position: absolute;
	 height: 60px;
	 top: 0;
	 left: 15px;
	 color: white;
	 font-size: 2rem;
	 display: none;
}
 header.global #mobile-toggle .icon {
	 position: absolute;
	 top: 50%;
	 left: 0;
	 transform: translateY(-50%);
}
 header.global #mobile-toggle .icon.icon-cancel {
	 opacity: 0;
}
 header.global #mobile-toggle .icon:before {
	 margin: 0;
	 text-align: left;
}
 header.global #mobile-menu {
	 display: none;
	 width: 100%;
	 position: absolute;
	 top: 0;
	 margin-top: 60px;
	 height: calc(100vh - 60px);
	 left: 0;
	 background: rgba(255, 255, 255, 0.9);
	 max-height: 0px;
	 overflow: hidden;
	 transition: max-height 0.5s cubic-bezier(0.28, 0, 0.18, 1);
}
 header.global #mobile-menu .hide-mobile {
	 display: none;
}
 header.global #mobile-menu ul li a {
	 border-bottom: 1px solid #ccc;
}
 header.global #mobile-menu ul li.no-border a {
	 border-bottom: none;
}
 header.global #mobile-menu ul li > a {
	 text-transform: uppercase;
	 padding: 30px 15px;
}
 header.global #mobile-menu ul li.parent {
	 position: relative;
}
 header.global #mobile-menu ul li.parent > a {
	 text-transform: uppercase;
	 position: relative;
}
 header.global #mobile-menu ul li.parent > a:before {
	 content: '\e816';
	 font-family: "fontello";
	 font-style: normal;
	 font-weight: normal;
	 speak: none;
	 display: inline-block;
	 text-decoration: inherit;
	 width: 1em;
	 margin-right: 0;
	 text-align: right;
	 font-variant: normal;
	 text-transform: none;
	 line-height: 1;
	 margin-left: 0;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 position: absolute;
	 top: 50%;
	 right: 15px;
	 transform: translateY(-50%);
}
 header.global #mobile-menu ul li.parent > ul {
	 background: #eee;
	 max-height: 0px;
	 overflow: hidden;
	 position: relative;
}
 header.global #mobile-menu ul li.parent > ul.sub-menu li a {
	 text-transform: none;
	 padding: 30px 30px;
}
 header.global #mobile-menu ul li.parent > ul li:not(.menu-item-has-children) a {
	 text-transform: none;
	 padding: 30px 30px;
}
 header.global #mobile-menu ul li.parent > ul .menu-item-has-children {
	 position: relative;
}
 header.global #mobile-menu ul li.parent > ul .menu-item-has-children > a {
	 position: relative;
	 border-bottom: 1px solid #ccc;
	 padding: 30px 30px;
}
 header.global #mobile-menu ul li.parent > ul .menu-item-has-children > a:before {
	 content: '\e816';
	 font-family: "fontello";
	 font-style: normal;
	 font-weight: normal;
	 speak: none;
	 display: inline-block;
	 text-decoration: inherit;
	 width: 1em;
	 margin-right: 0;
	 text-align: right;
	 font-variant: normal;
	 text-transform: none;
	 line-height: 1;
	 margin-left: 0;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 position: absolute;
	 top: 50%;
	 right: 15px;
	 transform: translateY(-50%);
}
 header.global #mobile-menu ul li.parent > ul .menu-item-has-children ul li a {
	 text-transform: none;
	 padding: 30px 60px;
}
 header.global #mobile-menu ul li.parent > ul .menu-item-has-children .sub-menu {
	 position: relative;
	 overflow: hidden;
	 max-height: 0px;
}
 header.global #mobile-menu ul li.parent > ul .menu-item-has-children.expand > a:before {
	 transform: translateY(-50%) rotate(180deg);
}
 header.global #mobile-menu ul li.parent > ul .menu-item-has-children.expand .sub-menu {
	 max-height: 100%;
}
 header.global #mobile-menu ul li.parent.expand > a:before {
	 transform: translateY(-50%) rotate(180deg);
}
 header.global #mobile-menu ul li.parent.expand > ul {
	 max-height: 100%;
}
 header.global #mobile-menu ul li a {
	 font-size: 1rem;
	 color: black;
	 text-decoration: none;
	 display: block;
}
 header.global #mobile-menu ul li form {
	 position: relative;
	 padding: 30px 15px;
	 width: 100%;
	 font-size: 1rem;
}
 header.global #mobile-menu ul li form input[type="text"] {
	 background: none;
	 border: none;
	 border-radius: 0;
	 border-bottom: 1px solid black;
	 font-size: 1rem;
	 line-height: 1.5;
	 font-family: sans-serif;
	 padding-left: 30px;
	 appearance: none;
	 width: 100%;
}
 header.global #mobile-menu ul li form input[type=submit] {
	 display: none;
}
 header.global #mobile-menu ul li form .icon {
	 position: absolute;
	 left: 15px;
	 top: 50%;
	 cursor: pointer;
	 font-size: 1.5rem;
	 transform: translateY(-50%);
	 padding-bottom: 10px;
}
 header.global #mobile-menu ul li form .icon:before {
	 margin: 0;
	 text-align: left;
}
 .invert-nav header.global nav.global ul.main li a, .invert-nav header.global nav.global ul.main li .icon {
	 color: white;
}
 .invert-nav header.global nav.global ul.main li a:after, .invert-nav header.global nav.global ul.main li .icon:after {
	 background: white;
}
 .invert-nav header.global nav.global .logo span {
	 color: white;
}
 .invert-nav header.global nav.global .logo svg .logo-fill {
	 fill: white;
}
 .invert-nav header.global .veil {
	 background: black;
}
 .invert-nav.show-drop header.global nav.global ul.main li a, .invert-nav.show-drop header.global nav.global ul.main li .icon {
	 color: black;
}
 .invert-nav.show-drop header.global nav.global ul.main li a:after, .invert-nav.show-drop header.global nav.global ul.main li .icon:after {
	 background: black;
}
 .invert-nav.show-drop header.global nav.global .logo span {
	 color: black;
}
 .invert-nav.show-drop header.global nav.global .logo svg * {
	 fill: black;
}
 .veil.full {
	 position: fixed;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 z-index: 6000;
	 background: black;
	 visibility: hidden;
	 pointer-events: none;
	 opacity: 0;
	 transition: 0.5s cubic-bezier(0.28, 0, 0.18, 1) 0.5s;
}
 .show-drop .veil.full {
	 opacity: 0.75;
	 visibility: visible;
	 transition: 0.5s cubic-bezier(0.28, 0, 0.18, 1);
}
 .show-minicart .veil.full {
	 opacity: 0;
	 visibility: visible;
	 pointer-events: all;
}
 footer.global {
	 padding: 90px 60px 120px;
	 float: left;
	 clear: both;
	 width: 100%;
	 background: white;
}
 footer.global #newsletter {
	 width: 100%;
	 height: 75px;
	 background: #4b4b4a;
	 margin: 0 0 120px;
	 overflow: hidden;
	 padding: 0 30px;
	 position: relative;
	 font-size: 0.9rem;
}
 footer.global #newsletter div {
	 height: 75px;
	 width: 100%;
	 color: white;
	 top: 100%;
	 left: 0;
	 overflow: hidden;
	 position: absolute;
	 transition: 0.25s cubic-bezier(0.28, 0, 0.18, 1);
}
 footer.global #newsletter span.response {
	 display: none;
	 position: absolute;
	 left: 30px;
	 top: 50%;
	 color: #b6b6b6;
	 transform: translateY(-50%);
}
 footer.global #newsletter #newsletter-cover p {
	 position: absolute;
	 left: 30px;
	 top: 50%;
	 color: #b6b6b6;
	 transform: translateY(-50%);
}
 footer.global #newsletter #newsletter-cover p span {
	 color: white;
}
 footer.global #newsletter #newsletter-form {
	 background: black;
}
 footer.global #newsletter #newsletter-form input[type=email] {
	 position: absolute;
	 top: 0;
	 left: 0;
	 border: none;
	 padding: 0 30px;
	 width: 100%;
	 background: transparent;
	 line-height: 75px;
	 font-family: sans-serif;
	 font-size: 100%;
	 color: white;
	 background: none;
	 border: none;
	 font-size: 0.9rem;
	 border-radius: 0;
}
 footer.global #newsletter #newsletter-form input[type=submit] {
	 position: absolute;
	 right: 30px;
	 top: 50%;
	 transform: translateY(-50%);
	 background: black;
	 line-height: 75px;
	 color: white;
	 font-size: 0.9rem;
	 border: none;
	 cursor: pointer;
	 z-index: 1000;
	 margin: 0;
	 padding: 0;
}
 footer.global #newsletter #newsletter-form input[type=submit]:disabled {
	 opacity: 0.5;
	 cursor: not-allowed;
}
 footer.global #newsletter #newsletter-join-btn {
	 position: absolute;
	 right: 30px;
	 top: 50%;
	 cursor: pointer;
	 transform: translateY(-50%);
	 color: white;
}
 footer.global #newsletter.default {
	 cursor: pointer;
}
 footer.global #newsletter.default #newsletter-cover {
	 top: 0;
}
 footer.global #newsletter.form #newsletter-cover {
	 top: -100%;
}
 footer.global #newsletter.form #newsletter-form {
	 top: 0;
}
 footer.global #newsletter.response {
	 cursor: n-resize;
}
 footer.global #newsletter.response #newsletter-cover {
	 top: -100%;
}
 footer.global #newsletter.response #newsletter-form {
	 top: -100%;
}
 footer.global #newsletter.response #newsletter-response {
	 top: 0 !important;
}
 footer.global #newsletter.response.success span.response.success {
	 display: block;
}
 footer.global #newsletter.response.error span.response.error {
	 display: block;
}
 footer.global nav.global {
	 width: 61%;
	 float: left;
	 padding-bottom: 120px;
}
 footer.global nav.global ul.main li {
	 float: left;
	 width: calc(25% - 60px);
	 margin-right: 60px;
}
 footer.global nav.global ul.main li a {
	 text-decoration: none;
	 color: black;
	 font-size: 0.9rem;
	 text-transform: uppercase;
	 margin-bottom: 20px;
	 display: inline-block;
}
 footer.global nav.global ul.main li a:hover {
	 color: #888;
}
 footer.global nav.global ul.main li ul {
	 width: 100%;
}
 footer.global nav.global ul.main li ul li {
	 margin-right: 0;
	 width: 100%;
}
 footer.global nav.global ul.main li ul li a {
	 color: #888;
	 text-transform: none;
}
 footer.global nav.global ul.main li ul li a:hover {
	 color: black;
}
 footer.global aside {
	 float: right;
	 width: 15%;
}
 footer.global aside ul li {
	 margin-bottom: 30px;
	 font-size: 1.2rem;
	 line-height: 1.5;
}
 footer.global aside ul li span {
	 text-transform: uppercase;
	 font-size: 0.9rem;
	 display: inline-block;
	 letter-spacing: 1px;
	 color: #888;
}
 footer.global aside ul li a {
	 text-decoration: none;
	 color: black;
	 transition: color 0.25s cubic-bezier(0.28, 0, 0.18, 1);
}
 footer.global aside ul li a:hover {
	 color: #888;
}
 footer.global aside ul li a.icon {
	 font-size: 1.5rem;
	 margin-right: 30px;
}
 footer.global .logo {
	 float: left;
	 clear: both;
	 position: relative;
	 text-decoration: none;
	 color: black;
}
 footer.global .logo img {
	 height: 20px;
	 width: auto;
}
 footer.global .logo span {
	 margin-top: 0.5rem;
	 display: inline-block;
	 position: absolute;
	 top: 100%;
	 left: 0;
	 width: 100%;
	 text-align: left;
	 text-transform: uppercase;
	 letter-spacing: 1px;
	 font-size: 0.66rem;
}
 footer.global #tagline {
	 float: right;
	 clear: right;
	 width: auto;
	 height: 20px;
	 opacity: 0.15;
}
 section {
	 width: 100%;
	 position: relative;
	 float: left;
	 clear: both;
}
 #site-loader {
	 width: auto;
	 height: 20px;
	 opacity: 1;
	 position: absolute;
	 top: 50vh;
	 left: 50vw;
	 transform: translateY(-50%) translateX(-50%);
	 z-index: -1;
	 opacity: 0;
	 transition: opacity 1s cubic-bezier(0.28, 0, 0.18, 1) 0.25s;
}
 .leaving #site-loader {
	 opacity: 0.25;
	 transition: opacity 0.25s cubic-bezier(0.28, 0, 0.18, 1) 0.25s;
}
 